body
{
    background-color: #303030;
    font-family: 'Verdana', sans-serif; 
    color: white;
}

iframe{
    width: 100%;
    height: 50vh;
}

.frame-btn {
    border: rgb(32, 122, 32);;
    border-style: solid;
    padding: 10px;
    font-family: 'Verdana', sans-serif;
    background-color: rgb(54, 221, 54);
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 20px;
    margin: 10px;
}

.frame-btn:hover {
    background-color: rgb(42, 164, 42);
    color: rgb(230, 230, 230);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

li a {
    display: block;
    padding: 8px 16px;
}

li a:hover {
    background-color: rgb(54, 221, 54);
    color: #292929;
}

.container {
    display: grid;


grid-template-areas:
"header header header"
"nav content side"
"footer footer footer";

grid-template-columns: 200px 1fr 200px;
grid-template-rows: auto 1fr auto;
grid-gap: 10px;
height: auto;
}

header {
    grid-area: header;
    background-color: #2eb82e;
    height: auto;
}

h3 {
    text-align: center;
    font-weight: bold;
}

p{
    padding: 10px;
    overflow: hidden;
}

nav {
    grid-area: nav;
    margin-left: 0.5rem;
    background-color: grey;
    padding: 10px;
    height: auto;
}

main{
    grid-area: content;
    background-color: #404040;
    height: auto;
}

aside{
    grid-area: side;
    margin-right: 0.5rem;
    background-color: grey;
    height: auto;
}

footer{
    grid-area: footer;
    background-color: #2eb82e;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas:
        "header"
        "nav"
        "content"
        "side"
        "footer";
    

    grid-template-columns: 1fr;
    grid-template-rows:
    auto /*Header*/
    minmax(75px, auto) /* Nav */
    1fr /*Content */
    minmax(75px, auto) /*Sidebar */
    auto; /* Footer */
}

nav, aside {
    margin: 0;
    }
}


